@charset "utf-8";

body{
	height:auto;
	background-color:#F0F0F0;
}

.navbar-light{
	
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);	
	
}

.navbar-light .navbar-nav .nav-items .btn-outline-primary .btn-login{
	background-color:#25CB76;
}


.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  margin-top:60px;
  display: block;
}

.searchbox{
	width:100%;
	height:70px;
	background-color:#48c1dd;
	padding-top:10px;
	padding-bottom:3px;
}

.searchbox .input-group-addon{
	background-color:#FFF;
	border-color:#428bca;
}

.searchbox i{
	color: #989898;
	background-color:#FFF;	
	border-style:none;
}

.searchbox .form-control{
	font-size:16px;
	font-style:italic;	
}


.home-main{
	padding: 2rem;
}

.home-main h3{
	font-size:24px;
}

.home-main-left {
    width: 280px;
    float: left;
    margin-right: 20px;
    font-size: 16px;
	
}

.home-main .popular-post-img{
	border:0px;
}

.home-main .popular-post-text{
	margin-top:3px;
	
}

.home-main .card-title{
	color:#666;	
}

.category-readmore a{
	font-size:14px;
	color:#CD4548;
	
}

.home-main .right-menu-one .list-group-item, .right-menu-two .list-group-item{
	padding-right:3px;
	padding-left:3px;
	
}

.card-box {
    position: relative;
    background-color: #fff;
    padding: 15px 15px 0;
    border: 1px solid #e5e6e9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px 0 #e5e6e9;
    -moz-box-shadow: 0 0 1px 0 #e5e6e9;
    box-shadow: 0 0 1px 0 #e5e6e9;
    margin-bottom: 20px;
}

.card{
	margin-bottom:10px;
}




.main-post{
    margin: 0 0 15px;
}

.main-post .main-post-header {
    border-bottom: solid 1px #d8e2e7;
    padding: 12px 40px 12px 15px;
    position: relative;
}

.main-post .post-content {
    border-bottom: solid 1px #d8e2e7;
    padding: 12px 40px 12px 15px;
    position: relative;
}

.main-post .post-content .homepage-post-title {
	font-size:17px;
}

.main-post .post-content .homepage-post-content {
	font-size:15px;
}

.main-post .card-img-top{
	max-height:300px;
		
}

.main-post .post-footer:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.main-post .post-footer {
    background: #fbfcfd;
    padding: 12px 15px;
    border-top: solid 1px #d8e2e7;
	font-size:14px;
}

.main-post .post-footer .meta-item {
    margin: 0 20px 0 0;
    text-decoration: none;
    color: #90949c;
    border: none;
}

.user-card-row .tbl-cell.tbl-cell-photo img {
    display: block;
    width: 45px;
    height: 45px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
	margin-right:10px;
}

.user-card-row .user-card-row-name a {
	font-weight:bold;
}

.user-card-row-datetime {
    color: #919fa9!important;
	font-size:14px;
}

.tbl-cell {
    display: table-cell;
}

.tbl-cell, .text-vertical-middle, audio, canvas, img, video {
    vertical-align: middle;
}

/* Footer */

.footer{
	margin-top:50px;
	min-height: 220px;
	background-color:#2e3e4e;	
}

.footer .footer-menu-title{
	font-size:20px;
	margin-top: 30px;
	margin-bottom:15px;
	color:#d8dbde;
	font-style:bold;
}

.footer ul li a{
	font-size:16px;;
	color:#d8dbde;
}



.social-button ul {
    margin: 0;
    padding: 5px;
}

.social-button ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social-button i {
    width: 40px;
    height: 40px;
	background-color: #909AA0;
    color: #FFF;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.social-button .fa-facebook{
    background: #4060A5;
}

.social-button .fa-twitter{
    background: #00ABE3;
}

.social-button .fa-instagram{
    background: #375989;
}

.social-button .fa-facebook:hover{
	background: #4F71BB;
}

.social-button .fa-twitter:hover{
	background: #03C1FF;
}

.social-button .fa-instagram:hover{
	background: #6C88C6;
}




.form-logo{
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 20px;
	
}


.signup-login-form{
	color:#666;
	max-width: 400px;
    padding: 15px;
	margin: 0 auto;
	
}

.signup-login-form button{
	margin-top:20px;
	margin-bottom:-25px;
}

.sub-heading{
	font-size:24px; 
	color:#666; 
	padding-bottom:10px; 
	border-bottom:solid 1px #ccc; 
	margin-bottom:15px
}

.tos-page{
	padding: 2rem;
	margin-top:70px;
	
}

.tos-page h3{
	color:#666;	
}

.contact-us{
	padding: 2rem;
	margin-top:70px;
	
}

.contact-us h3{
	color:#666;	
}


.profile-page{
	padding: 2rem;
	margin-top:70px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
} 

.profile-page .w-xs {
    width: 90px;
	height: 90px;
}
.profile-page .img-circle {
    border-radius: 50%;
}
.profile-page img {
    vertical-align: middle;
}
.profile-page img {
    border-style: none;
}

/*member socialmedia box */


.member-socialmedia ul {
    margin: 0;
    padding: 5px;
}

.member-socialmedia ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.member-socialmedia i {
    width: 40px;
    height: 40px;
	background-color: #909AA0;
    color: #FFF;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}

.member-socialmedia .fa-facebook{
    background: #4060A5;
}

.member-socialmedia .fa-twitter{
    background: #00ABE3;
}

.member-socialmedia .fa-instagram{
    background: #375989;
}

.member-socialmedia .fa-facebook:hover{
	background: #4F71BB;
}

.member-socialmedia .fa-twitter:hover{
	background: #03C1FF;
}

.member-socialmedia .fa-instagram:hover{
	background: #6C88C6;
}


.follower-btn{
	width:150px;
	margin-bottom:10px;	
}


.tbl {
    display: table;
    width: 100%;
}

.tbl, table {
    border-collapse: collapse;
}

.tbl-row {
    display: table-row;
}

/*member follower box */

.member-follower-info .tbl-cell:first-child {
    border-left: none;
}

.member-follower-info .tbl-cell {
    vertical-align: middle;
    border-left: solid 1px #d8e2e7;
    padding: 12px 10px;
}

.tbl-cell {
    display: table-cell;
}

.tbl-cell, .text-vertical-middle, audio, canvas, img, video {
    vertical-align: middle;
}

.member-follower-info .number {
    display: block;
    font-weight: 600;
    font-size: 1rem;
}

/*member detail box */

.member-detail .fa{
	margin-right:10px;
}

/* Default mode */
.nav-tabs {
  border: none;
  margin: 0px;
}

.nav-tabs > li {
  margin-right: 2px;
}

.nav-tabs > li > a.nav-link {
  border: 0;
  margin-right: 0;
  color: #737373;
}

.nav-tabs > li > a > i {
  color: #a6a6a6;
}

.nav-tabs > li.open, .nav-tabs > li:hover{
  border-bottom: 4px solid #9DD1E4;
  
}

.nav-tabs > li>a.nav-link.active:hover{
   border:0;
}

.nav-tabs > li.open > a.nav-link, .nav-tabs > li:hover > a.nav-link {
  border: 0;
  background: none !important;
  color: #333333;
}

.nav-tabs > li.open > a.nav-link > i, .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.nav-tabs > li.open .dropdown-menu, .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
  
}

.nav-tabs > li> a.nav-link.active{
  border-bottom: 4px solid #4285F4;
  font-weight:bold;
}

.nav-tabs > li> a.nav-link{
  border: 0;
  color: #333333;
}

.nav-tabs > li > a.nav-link.active {
  color: #404040;
}

.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

.tab-content {
  margin-bottom: 10px;
}

.profile-posts .card-header{
	font-size:13px;
	
	
}

.profile-post-pagination{
	margin-top:40px;
	margin-bottom:-20px;
}



