body{
	margin-top:100px;
}


.breadcrumb {
	background-color:#fff;
	font-family: 'Open Sans', sans-serif; 
}

.search-result .search-title h3 {
    margin: 0 0 15px;
    color: #333;
}

.search-title a{
	color:#48c1dd;
}

.search-title a:hover{
	color:#2b8bc8;
	text-decoration:none;
}

.search-result .search-title p {
	width: 100%;
    font-size: 12px;
    color: #333;
}

.result-box {
	font-family: 'Open Sans', sans-serif; 
	min-height: 63px;
    background: #fff;
	margin-bottom: 20px;
    padding: 20px;
    position: relative;
  	border: 1px solid #f0f0f0;
	border-radius: 5px !important;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}

.search-img {
	height:80px;
	width:140px;
	margin-top:10px;
	margin-right:30px;
}

.search-img img{
	height:80px;
	width:140px;
}

.right-side-content{
	font-family: 'Open Sans', sans-serif; 
}

.category-box {
	min-height: 63px;
    background: #fff;
	margin-bottom: 20px;
    padding: 20px;
    position: relative;
  	border: 1px solid #f0f0f0;
	border-radius: 5px !important;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}

.search-details ul{
	font-size:12px;
	color:#666666;
}

.search-details ul a{
	color:#48c1dd;
}

.search-details ul a:hover {
	color:#2b8bc8;
	text-decoration:none;
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}     


.pagination-box {
    background: #fff;
	margin-bottom: 20px;
    padding: 20px;
    position: relative;
  	border: 1px solid #f0f0f0;
	border-radius: 5px !important;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}  


.pagination-centered {
    text-align: center;
}

.pagination{
	font-family: 'Open Sans', sans-serif; 
    margin:0 auto;
    padding-left:0;
  
}


